{% extends 'blog/base.html' %}

{% block title %}
Редагувати запис
{% endblock %}

{% block content %}

<h1>Редагувати запис.</h1>

<form action="" method="post" autocomplete="off">
    {% csrf_token %}
    <label for="title"><b>Назва даного поста</b></label>
    {{ form.title }}
    <label for="author"><b>Автор поста</b></label>
    {{ form.author }}
    <label for="text"><b>Короткий опис поста</b></label>
    {{ form.text }}
    <label for="published"><b>Рік публікування</b></label>
    {{ form.published }}
    <button type="submit" class="btn btn-primary">Внести зміни</button>
</form>

{% endblock %}